* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: rgb(31, 31, 31);
  color: #ffffff;
}

.card {
  background-color: rgb(103, 103, 103);
  border-radius: 20px;
  width: 20vw;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card h1 {
  font-size: larger;
  padding: 25px;
}
.card button {
  width: 100%;
  border-radius: 15px;
  border: 0;
  padding: 10px;
  font-size: larger;
  font-weight: 900;
  background-color: rgb(29, 79, 17);
  color: rgb(102, 255, 1);
}